<a href="https://colab.research.google.com/github/NandyalaSridevi/IIy-IIIs-Python/blob/main/Unit_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
import pandas as pd
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
list_data = series.tolist()
print("Python List:", list_data)
print("Type of list_data:", type(list_data))

Python List: [10, 20, 30, 40, 50]
Type of list_data: <class 'list'>

In [3]:
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
print("DataFrame with custom index labels:\n")
print(df)

DataFrame with custom index labels:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
df.loc[df['name'] == 'James', 'name'] = 'Suresh'

print("DataFrame after replacing 'James' with 'Suresh':\n")
print(df)

DataFrame after replacing 'James' with 'Suresh':

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [5]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'Suresh', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
df['remarks'] = ['Good', 'Poor', 'Excellent', 'Average', 'Poor', 'Excellent', 'Good', 'Average', 'Poor', 'Excellent']
print("DataFrame after adding 'remarks' column:\n")
print(df)

DataFrame after adding 'remarks' column:

        name  score  attempts qualify    remarks
a  Anastasia   12.5         1     yes       Good
b       Dima    9.0         3      no       Poor
c  Katherine   16.5         2     yes  Excellent
d     Suresh    NaN         3      no    Average
e      Emily    9.0         2      no       Poor
f    Michael   20.0         3     yes  Excellent
g    Matthew   14.5         1     yes       Good
h      Laura    NaN         1      no    Average
i      Kevin    8.0         2      no       Poor
j      Jonas   19.0         1     yes  Excellent

In [6]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'Suresh', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'remarks': ['Good', 'Poor', 'Excellent', 'Average', 'Poor', 'Excellent', 'Good', 'Average', 'Poor', 'Excellent']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

column_headers = df.columns.tolist()
print("List of DataFrame column headers:\n", column_headers)

List of DataFrame column headers:
 ['name', 'score', 'attempts', 'qualify', 'remarks']